[submodule "admin-service"]
	path = admin-service
	url = https://github.com/IgnacioPuigMargalef/admin-service.git
[submodule "gateway-service"]
	path = gateway-service
	url = https://github.com/IgnacioPuigMargalef/gateway-service.git
[submodule "docker-setup"]
	path = docker-setup
	url = https://github.com/IgnacioPuigMargalef/docker-setup.git
[submodule "club-service"]
	path = club-service
	url = ../club-service
[submodule "match-service"]
	path = match-service
	url = ../match-service
